.food-display {
  margin-top: 4vh;
}

.food-display h2 {
  font-size: max(2.5vw);
  font-weight: bold;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.9vw;
  margin-top: 4vh;
  row-gap: 6vh;
  margin-bottom: 4vh;
}
