.header {
  height: 34vw;
  /* margin: 30px auto; */
  margin-top: 5vh;
  margin-left: 6vw;
  margin-bottom: 5vh;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}
.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vh;
  bottom: 5vh;
  left: 2.5vw;
  max-width: 70%;
  animation: fadeIn 2s;
}

.header-content h2 {
  font-weight: bold;
  color: white;
  font-size: max(5vw, 22px);
}

.header-content p {
  color: white;
}

.header-content button {
  border: none;
  border-radius: 50px;
  padding: 1vh 1vw;
  font-weight: bold;
  transition: 0.3s;
}

.header-content button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-content {
    max-width: 65%;
  }
  .header-content p {
    display: none;
  }
  .header-content button {
    padding: 2vw 4vw;
  }
}
