.navbar {
  position: sticky;
  top: 0%;
  z-index: 100;
  left: 0%;
  background-color: white;
  width: 100%;
  /* padding: 20px 0px; */
  padding-top: 1vh;
  padding-bottom: 1vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  gap: 2vw;
  list-style: none;
  font-weight: bold;
}

.navbar-righside {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.navbar button {
  background: transparent;
  border: 1px solid black;
  text-decoration: none;
  padding: 1vh 1vw;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: black;
  color: white;
}

.active {
  padding-bottom: 1.5px;
  border-bottom: 2px black solid;
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.inactive {
  transition: 0.1s;
  cursor: pointer;
}

.inactive:hover {
  padding-bottom: 1.5px;
  border-bottom: 2px black solid;
}

.righside-search-icon {
  position: relative;
}

.dot {
  position: absolute;
  min-height: 8px;
  min-width: 8px;
  background-color: red;
  border-radius: 50%;
  top: -8px;
  right: -1px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-righside {
    gap: 30px;
  }
  .navbar-righside img {
    width: 22px;
  }
  .navbar-righside button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-righside {
    gap: 20px;
  }
  .navbar-righside img {
    width: 20px;
  }
  .navbar-righside button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
