.footer {
  color: white;
  background-color: #1e3b50;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 3vh;
  margin-top: 9vh;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3vw;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vh;
}

.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 1vh;
  cursor: pointer;
}

.footer-social-media-icons img {
  margin-right: 1vw;
  width: 3vw;
  cursor: pointer;
}

.footer hr {
  width: 100%;
  background-color: grey;
  height: 2px;
  border: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
